{% extends 'core/admin.html' %}

{% block title %}
    Gamers Guild | Administrar desarrolladoras
{% endblock title %}

{% block content %}
    {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show my-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <div class="d-flex justify-content-between align-items-center border-bottom mt-4 py-1">
        <h2>Administrar desarrolladoras</h2>
        <a href="{% url 'juegos:crear_desarrolladora' %} " class="btn-banner p-1 px-2 mt-0 text-dark"> Crear una nueva desarrolladora</a>
    </div>
    <div class="table-responsive bg-white p-3 overflow-auto admin border border-dark rounded mt-4">
        <table class="table caption-top table-hover table-bordered border-secondary text-center">
            <caption class="fw-bold">Lista de desarrolladoras disponibles en el sitio</caption>
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for desarrolladora in desarrolladoras %}
                <tr>
                    <td>{{ desarrolladora.id }}</td>
                    <td>{{ desarrolladora.nombre }}</td>
                    <td class="d-flex justify-content-center gap-3">
                        <a href="{% url 'juegos:editar_desarrolladora' desarrolladora.id %}" class="btn btn-primary px-4">Editar</a>
                        <a 
                            href="#" 
                            class="btn btn-danger px-4"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-eliminar-{{ desarrolladora.id }}"
                        >
                            Eliminar
                        </a>
                        {% include 'core/components/modal-eliminar.html' with item_id=desarrolladora.id item_name=desarrolladora.nombre item_type='desarrolladora' delete_url=desarrolladora.get_delete_url %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}