{% extends 'core/admin.html' %}

{% block title %}
    Gamers Guild | Administrar juegos
{% endblock title %}

{% block content %}
    {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show my-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <div class="d-flex justify-content-between align-items-center border-bottom mt-4 py-1">
        <h2>Administrar juegos</h2>
        <a href="{% url 'juegos:crear_juego' %} " class="btn-banner p-1 px-2 mt-0 text-dark"> Crear un nuevo juego</a>
    </div>
    <div class="table-responsive bg-white p-3 overflow-auto admin border border-dark rounded mt-4">
        <table class="table caption-top table-hover table-bordered border-secondary text-center">
            <!-- TODO: Agregar buscador -->
            <caption class="fw-bold">Lista de juegos disponibles en el sitio</caption>
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Fecha de publicación</th>
                    <th>Plataformas</th>
                    <th>Editores</th>
                    <th>Desarrolladoras</th>
                    <th>Géneros</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                <tr>
                    <td class="table-item">{{ juego.id }}</td>
                    <td class="table-item">{{ juego.titulo }}</td>
                    <td class="table-item">${{ juego.precio }}</td>
                    <td class="table-descripcion table-item">{{ juego.descripcion }}</td>
                    <td class="table-item">{{ juego.fecha_lanzamiento }}</td>
                    <td class="table-item">
                        {% for plataforma in juego.plataformas.all %}
                            <span class="badge bg-secondary text-white">{{ plataforma.nombre }}</span>
                        {% endfor %}
                    </td>
                    <td class="table-badge">
                        {% for editor in juego.editores.all %}
                            <span class="badge bg-secondary text-white">{{ editor.nombre }}</span>
                        {% endfor %}
                    </td>
                    <td class="table-badge">
                        {% for desarrolladora in juego.desarrolladoras.all %}
                            <span class="badge bg-secondary text-white">{{ desarrolladora.nombre }}</span>
                        {% endfor %}
                    </td>
                    <td class="table-badge">
                        {% for genero in juego.generos.all %}
                            <span class="badge bg-secondary text-white">{{ genero.nombre }}</span>
                        {% endfor %}
                    </td>
                    <td class="d-flex flex-column gap-3">
                        <a href="{% url 'juegos:editar_juego' juego.id %}" class="btn btn-primary">Editar</a>
                        <a 
                            href="#" 
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-eliminar-{{ juego.id }}"
                        >
                            Eliminar
                        </a>
                        {% include 'core/components/modal-eliminar.html' with item_id=juego.id item_name=juego.titulo item_type='juego' delete_url=juego.get_delete_url %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}