{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.id %}
        Gamers Guild | Editar {{ form.instance.titulo }}
    {% endif %}
    Gamers Guild | Crear nuevo juego
{% endblock title %}


{% block content %}
    <section class="container-fluid align-items-center my-4">
        {% if form.instance.id %}
            <h2 class="mb-3">Editar {{ form.instance.titulo }}</h2>
        {% else %}'
            <h2 class="mb-3">Crear un nuevo juego</h2>
        {% endif %}
        <form 
            action="#"
            method="post"
            class="border p-4 w-75 rounded"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid">
                <button 
                    type="submit"
                    class="btn-banner border-0 p-1"
                >
                    {% if form.instance.id %}
                        Editar juego
                    {% else %}
                        Crear juego
                    {% endif %}
                </button>
            </div>
        </form>
    </section>
{% endblock content %}
