{% extends 'core/base.html' %}

{% block title %}
    Gamers Guild | {{juego.titulo}}
{% endblock title %}

{% block content %}
    <section class="container-fluid my-5">
        <article class="my-4">
            <div class="d-flex">
                <div class="d-flex mb-3">
                    <img src="{{ juego.imagen.url }}" alt="{{ juego.titulo }}" class="img-fluid img-detalle rounded">
                    <div class="flex-column ms-3">
                        <h2>{{ juego.titulo }}</h2>
                        <div class="d-flex flex-md-row flex-column fw-semibold badges-caracteristicas mt-3 gap-3">
                            <span><i class="bi-playstation"></i> Optimizado para PS4 | PS5</span>
                            <span><i class="bi-cloud-arrow-down"></i> Smart Delivery</span>
                            <span><i class="bi-globe"></i> Cantidad de idiomas admitidos</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <button 
                    type="button" 
                    class="btn-comprar"
                >
                    Comprar ${{ juego.precio }}
                </button>
                <button 
                    type="button" 
                    class="btn-agregar-carrito"
                >
                <i class="bi-cart-fill"></i> Agregar al carrito
                </button>
            </div>
        </article>

        <div class="row ms-2">
            <div class="col-md-6 col-12">
                <p>
                    <h3 class="fs-4 fw-semibold my-4">Descripción</h3>
                    {{ juego.descripcion|linebreaksbr }}  
                </p>
                <div class="d-flex flex-sm-row flex-column justify-content-between">
                    <div class="mt-3">
                        <h4 class="fs-5">Publicado por</h4>
                        {% for editor in  juego.editores.all %}
                            <span>{{ editor.nombre }}</span>
                        {% endfor %}
                    </div>
                    <div class="mt-3">
                        <h4 class="fs-5">Desarrollado por</h4>
                        {% if juego.desarrolladoras.count > 1 %}
                            {% for desarrolladora in juego.desarrolladoras.all %}
                                <span>{{ desarrolladora.nombre }}{% if not forloop.last %} - {% endif %}</span>
                            {% endfor %}
                        {% else %}
                            {% for desarrolladora in juego.desarrolladoras.all %}
                                <span>{{ desarrolladora.nombre }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="mt-3">
                        <h4 class="fs-5">Fecha de publicación</h4>
                        <span>{{juego.fecha_lanzamiento}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mt-4">
                    <h3 class="fs-4 fw-semibold mb-4">Se puede jugar en</h3>
                    {% for plataforma in juego.plataformas.all  %}
                        <span class="badge-juegos"><i class="bi-playstation"></i> {{ plataforma.nombre }}</span>
                    {% endfor %}
                </div>
                <div class="mt-5">
                    <h3 class="fs-4 mb-4">Géneros</h3>
                    {% for genero in juego.generos.all %}
                        <span class="badge-juegos">{{ genero.nombre }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}