<div class="col-2 px-sm-2 px-0 bg-admin rounded-0 shadow">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 min-vh-100 sticky-top">
        <a href="{% url 'administrador:tabla_juegos' %}" class="d-flex align-items-center ms-3 pb-3 mb-md-0 me-md-auto text-decoration-none">
            <h1 class="fs-4 fw-bold d-none d-sm-inline mt-3 ps-1 text-dark">Gamers Guild</h1>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="{% url 'administrador:tabla_juegos' %}" class="nav-link align-middle px-0 text-dark">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"> Juegos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link px-0 align-middle text-dark">
                    <i class="fs-4 bi-arrow-left-circle"></i> <span class="ms-1 d-none d-sm-inline">Volver al sitio</span>
                </a>
            </li>
        </ul>
    </div>
</div>