{% load static %}
<section class="container-fluid px-3 my-5">
    <div class="row justify-content-around">
        <div class="col-lg-5 col-12 banner-text order-lg-first order-last">
            <h3>Nuevos ahorros de Mayo en PlayStation</h3>
            <p>Explora los últimos descuentos y promociones de temporada de nuestra tienda en excelentes juegos para PS4 y PS5</p>
            <button 
                type="button" 
                class="btn btn-banner"
            >
                Ver todas las promociones
            </button>
        </div>
        <div class="col-lg-6 col-12 mb-3">
            <img src="{% static 'core/img/ps-store-mayo-descuentos.webp' %}" class="img-fluid shadow" alt="Ahorros de mayo">
        </div>
    </div>
</section>