<footer class="my-1 mb-0">
    <div class="social_media ms-4">
        <h3 class="fw-normal fs-5">Síguenos</h3>
        <a href="https://twitter.com/" target="_blank" class="text-dark" rel="noopener">
            <i class="bi-twitter-x"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="text-dark" rel="noopener">
            <i class="bi-instagram"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" class="text-dark" rel="noopener">
            <i class="bi-youtube"></i>
        </a>
        <a href="https://www.tiktok.com/es/" target="_blank" class="text-dark" rel="noopener">
            <i class="bi-tiktok"></i>
        </a>
    </div>
    <div class="container-fluid bottom-footer">
        <div class="row gap-lg-5 justify-content-md-between">
            <div class="col-lg-3 col-md-3 col-12">
                <h3 class="fw-semibold fs-4">Gamers Guild</h3>
                <p class="footer-text mt-3">
                    Tienda de juegos digitales para PS4 y PS5 con excelente
                    servicio al cliente. Precios bajos y gran variedad de
                    productos disponibles.
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12">
                <h3 class="fw-semibold fs-4">Recursos</h3>
                <ul class="footer-items">
                    <li>
                        <a href="#" class="footer-text">Soporte técnico</a>
                    </li>
                    <li>
                        <a href="#" class="footer-text">Comentarios</a>
                    </li>
                    <li>
                        <a href="#" class="footer-text">Estándares de la comunidad</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12">
                <h3 class="fw-semibold fs-4">Tienda</h3>
                <ul class="footer-items">
                    <li>
                        <a href="#" class="footer-text">Seguimiento de pedidos</a>
                    </li>
                    <li>
                        <a href="#" class="footer-text">Devoluciones</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="d-flex flex-sm-row flex-column justify-content-start
                   me-5 mb-0 pt-5
                   footer-items pb-0 gap-md-4 gap-2"
        > 
            <li>
                <a href="#" class="footer-text">Privacidad y cookies</a>
            </li>
            <li>
                <a href="#" class="footer-text">Aviso legal</a>
            </li>
            <li>
                <a href="#" class="footer-text">Sobre nuestra publicidad</a>
            </li>
            <li>
                <a href="#" class="footer-text">Avisos de terceros</a>
            </li>
            <li class="footer-text m-sm-auto me-sm-0">
                &copy; Gamers Guild 2024 | Todos los derechos reservados
            </li>
        </ul>
    </div>
</footer>