<section class="container-fluid info-container">
    <div class="row justify-content-md-around align-content-center 
                text-lg-start text-center 
                gap-4"
    >
        <article class="col-lg-3 col-12 mb-5 border-end border-dark py-3">
            <h2>¿Por qué Gamers Guild?</h2>
        </article>
        <article class="col-lg-3 col-12 mb-5  border-end border-dark py-3">
            <h2><svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-lock"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" /><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M8 11v-4a4 4 0 1 1 8 0v4" /></svg>Pago seguro</h2>
            <span>Contamos con todos los medios de pago</span>
        </article>
        <article class="col-lg-3 col-12">
            <h2>Amplia selección a los mejores precios</h2>
            <span>Los mejores juegos al mejor precio</span>
        </article>
    </div>
</section>