<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="navbar">
    <div class="container-fluid mx-lg-2 ">
        <!-- Logo y Nombre de la Tienda -->
        <a href="{% url 'core:index' %}" class="navbar-brand text-dark fw-bold fs-3">
            <!-- <img src="../assets/favicon/favicon.ico" alt="Logo de Gamers Guild" class="img-fluid logo"> -->
            Gamers Guild
        </a>

        <!-- Botón de Navegación -->
        <button 
            class="navbar-toggler ms-auto" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#menuLateral"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido del Navbar -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="menuLateral">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Gamers Guild</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Links de Inicio y Juegos -->
                <ul class="navbar-nav mx-auto mb-lg-3 mt-lg-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'juegos:lista_juegos' %}">Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:acerca' %}">Acerca de mi</a>
                    </li>
                </ul>
                
                <!-- Rutas de Iniciar Sesión y Crear Cuenta -->
                <ul class="navbar-nav mt-lg-2 mt-lg-2">
                    {% if not user.is_authenticated %}    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:iniciar-sesion' %}">Iniciar Sesión</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link button-register" href="{% url 'core:crear-cuenta' %}">
                                <i class="bi-plus-circle"></i>
                                Crear Cuenta
                            </a> 
                        </li>
                    {% else %}
                        <div class="dropdown-center mt-2 ms-sm-4">
                            
                            <span class="dropdown-toggle me-5 pe-4 fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% include 'core/components/imagen-perfil.html' %}
                                {{ user.username }}
                            </span>
                            <ul class="dropdown-menu">
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'administrador:tabla_juegos' %}">Ir a admin</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'core:perfil' %}">Mi perfil</a></li>
                                <li>
                                    <form action="{% url 'core:cerrar-sesion' %}" method="POST">   
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Cerrar sesión</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>


